
/* logo css */

.logo {
    width: 20%;
}
.logo img{
   width: 100%;
}
/* First Section Custom CSS */
.first-section h1 {
   font-family: bebas neue;
   font-size: 80px;
   font-weight: bold;
   color: #363958;
}
.color-inline{
   color: #FABE4C;
}
p {
   font-family: Roboto Condensed;
   color: #3E3E3E;
   font-size: 16px;
}
.btn.btn-success {
   background-image: linear-gradient(#A4BC46, #85A019);
   border: none;
   border-radius: 9px;
   padding: 3% 5%;
}

.card-footer h5 {
   color: #FABE4C;
   font-family: 'Roboto Condensed';
   font-weight: bold;
   font-size: 36px;
}
.card-footer, .card{
   border: none;
}
.card{
   width: 90%;
}
h5.card-title {
   padding: 5% 0;
   font-family: 'Roboto Condensed';
   font-weight: bold;
   font-size: 24px;
   color: #363958;
}
.container> h2 {
   color: #363958;
   font-size: 48px;
   font-weight: bold;
   font-family: 'Bebas Neue';
}
.right img {
   width: 45%;
}
.left h2 {
   color: #363958;
   font-family: 'Roboto Condensed';
   font-size: 24px;
   font-weight: bold;
}
.fixed-top {
   border-bottom: 2px solid #85A019;
   background: #f7cc7e;
}
